.callback__container {
    width: 1119px;
    height: 1360px;
    margin: auto;
}

section.callback {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1980px;
}

.callback__wrapper {
    width: 526px;
    float: right;
    padding-top: 178px;
    display: flex;
    flex-flow: column;
    row-gap: 40px;
}


h3.callback__title {
    font-size: 50px;
    color: white;
    text-align: right;
    margin: 0;
}

.callback__text {
    font-size: 36px;
    color: white;
    /* text-align: right; */
}

img.callback__messenger {
    width: 151px;
    height: 151px;
}

.callback__messengers {
    display: flex;
    justify-content: center;
    column-gap: 45px;
}

input.callback__phone {
    height: 152px;
    width: 477px;
    border-radius: 48px;
    border: none;
    text-align: center;
    font-size: 36px;
}

button.callback__button {
    width: 477px;
    height: 152px;
    border-radius: 48px;
    background-color: var(--dj-main-color);
    border: none;
    font-weight: bold;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
}

@media(max-width: 1280px){
    section.callback.section {
        background-size: contain;
        padding-top: 3em;
        padding-right: 5em;
        background-position: top;
    }
    .callback__container {
        width: 100%;
        height: unset;
        margin: auto;
        font-size: 1vw;
    }
    .callback__wrapper {
        float: none;
        width: 100%;
        padding: 10em;
    }

    h3.callback__title {
        font-size: 6em;
        font-weight: bolder;
        line-height: 1.3;
        width: 90%;
        margin-left: auto;
    }


    .callback__text {
        margin-top: 14em;
        font-size: 4em;
        color: black;
        font-weight: bold;
        line-height: 1.6;
        /* text-align: right; */
    }


    img.callback__messenger {
        width: 20em;
        height: 20em;
    }

    .callback__messengers {
        display: flex;
        justify-content: center;
        column-gap: 5em;
    }

    input.callback__phone {
        height: 3em;
        width: 15em;
        border-radius: 5em;
        font-size: 5em;
    }

    button.callback__button {
        height: 3em;
        width: 15em;
        border-radius: 5em;
        font-size: 5em;
        background-color: var(--dj-main-color);
    }

}