:root {
    --dj-main-color: #ff7300;
}

.catalog-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}

.main-sliders {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 40px;
}

.sku-prop {
    border: 1px solid #AAAAAA;
    padding: 2px 10px;
    margin: 3px;
    border-radius: 4px;
    white-space:nowrap;
    display: inline-block;
    min-width: 32px;
    text-align: center;
    cursor: default;
    z-index: 4;
}

.sku-prop:not(.inactive){
    cursor: pointer;
}

.sku-prop.current{
    background-color: #ff6100;
    color: white;
    border-color: #ff6100;
}

.sku-row-name {
    margin: 7px 10px;
    color: #666666;
}

.sku-prop.inactive{
    color: grey
}

/* Описание */

.desc-block.video {
    max-width: 900px;
    margin: auto;
}

.desc-block .video-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #444453;
    display: block;
}

.desc-block .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin: auto;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
}

.desc-block {
    border-bottom: 1px solid #F0F0F0;
    width: 100%;
}

.desc-block p, .desc-block li, .catalog-section-text p, .catalog-section-text li, .brands-detail p, .brands-detail li {
    line-height: 1.5;
    font-size: 1.1em;
}

.desc-block li::marker, .catalog-section-text li::marker, .brands-detail li::marker {
    color: firebrick;
    font-size: 21px;
}

.desc-block ul li, .catalog-section-text ul li, .catalog-section-text ol li, .brands-detail ul li {
    margin-bottom: 0.3em;
}

.desc-block h4, .catalog-section-text h4, .brands-detail h4 {
    font-size: 1.1em;
}

.desc-block .desc-block--title {
    font-size: 30px;
    margin: 0 0 15px 0;
    color: #ff6100;
    display: block;
}

.desc-block .desc-block--text {
    font-size: 20px;
    line-height: 35px;
}

.desc-block .desc-block--section-title {
    text-align: center;
    font-size: 32px;
    color: #444453;
    width: 100%;
    display: block;
}

.desc-block.pic-right, .desc-block.pic-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;}

.desc-block.pic-left {
    flex-direction: row-reverse;
}

.desc-block.pic-right .desc-block--image-wrapper, .desc-block.pic-left .desc-block--image-wrapper{
    max-width: 30%;
    /* min-width: 300px; */}

.desc-block.pic-right img,
.desc-block.pic-left img{
    max-height: 600px;
    max-width: 100%;
}

.desc-block.pic-right.small img,
.desc-block.pic-left.small img{
    max-height: 400px;
    max-width: 100%;
}

.desc-block.pic-right .desc-block--text-container,
.desc-block.pic-left .desc-block--text-container{
    max-width: 60%;
    /* min-width:  300px; */}

.image-gallery .desc-block--image-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px 0;

}

.image-gallery .desc-block--image-wrapper img {
    max-height: 300px;
    max-width: 50%;}

.featured-list--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 20px;
    line-height: 35px;
    align-items: center;
    margin: 20px 0;
}

.featured-list--container> * {
    width: 35%;
    min-width: 300px;/* max-width: 100%; */}

.featured-list--container img {
    max-width: 100%;
}


.dj-button {
    font-size: 18px;
    color: white;
    background-color: #ff6100;
    border: 0;
    padding: 10px 25px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.dj-color {
    color: #ff6100;
}

.hidden {
    display: none!important;
}
/* Описание под мобилки*/

.mobile {
    display: none!important;
}

@media (max-width: 980px) {

    .desc-block .desc-block--title {
        font-size: 20px;
    }

    .desc-block .desc-block--text {
        font-size: 17px;
        line-height: 1.3;
    }

    .desc-block .desc-block--section-title {
        font-size: 21px;
    }

    .desc-block .featured-list--container {
        font-size: 17px;
        line-height: 1.3;
    }

    .desc-block > * {
        max-width: unset!important;
    }
    .featured-list--container> * {
        width: 90%;
        list-style-type: decimal;
    }

    .desktop {
        display: none!important;
    }

    .mobile {
        display: block!important;
    }

    jdiv.__jivoMobileButton {
        bottom: 70px!important;
    }

    .img-wrapper img {
        top: 0;
        left: 0;
        width: 98%;
        height: 98%;
    }

    .desc-block ul li {
        margin-bottom: 0;
    }

}

/* CSS Document */
* {
    box-sizing: border-box;
}

html, body {
    font-family: Open sans, Helvetica, Arial, sans-serif;
    touch-action: manipulation;
    overflow-x: hidden;
    overflow-y: visible;
    max-width: 100%;
}

body.no-scroll {
    overflow: hidden;
    height: 100vh;
    position: relative;
    padding-right: 17px;
}

html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
}
.mobile {
    display: none;
}
main {
    min-height: 50%;
}

.show {
    visibility: visible!important;
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 1!important;
}

.overlay {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 1);
    z-index: 996;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
}

.section-path {
    max-width: 1470px;
    margin: 0 auto 20px auto;
    padding-left: 50px;
    display: block;
    font-size: 16px;
}

.section-path a {
    white-space: nowrap;
}

.section-path--current {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.transparent {
    opacity: .3;
}

img.loading {
    opacity: 0;
    position: relative;
}

img.loading:before{
    content: 'Ð—Ð°Ð³Ñ€ÑƒÐ·ÐºÐ°...';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

json {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

select option:checked {
    background-color: rgb(206, 206, 206);
}

@media (max-width: 980px) {

    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }

    .no-scroll{
        padding-right: 0;
        height: 100%;
        overflow: hidden;
    }

    body {

        overflow-x: hidden;
    }
}


.btn.btn-lg.btn-success {
    font-weight: bold;
    color: green;
    font-size: 25px;
    border: 1px solid green;
    padding: 20px;
    display: block;
    width: 170px;
    margin: 10px;
}

span.rating__star {
    display: inline-block;
    width: 20px;
    height: 17px;
    background: url("/images/svg/star_full.svg");
    background-size: contain;
}

.show-svg {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 175%;
    background-position: center;
}

.img1 {
    background-image: url('/images/svg/dist/1.svg');
}

.img2 {
    background-image: url('/images/svg/dist/2.svg');
}

.img3 {
    background-image: url('/images/svg/dist/3.svg');
}

.img4 {
    background-image: url('/images/svg/dist/4.svg');
}

.img5 {
    background-image: url('/images/svg/dist/5.svg');
}

.img6 {
    background-image: url('/images/svg/dist/6.svg');
}

.img7 {
    background-image: url('/images/svg/dist/7.svg');
}

.img8 {
    background-image: url('/images/svg/dist/8.svg');
}

.img9 {
    background-image: url('/images/svg/dist/9.svg');
}

.img10 {
    background-image: url('/images/svg/dist/10.svg');
}

.img11 {
    background-image: url('/images/svg/dist/11.svg');
}

.img12 {
    background-image: url('/images/svg/dist/12.svg');
}

.img13 {
    background-image: url('/images/svg/dist/13.svg');
}

.img14 {
    background-image: url('/images/svg/dist/14.svg');
}

.img15 {
    background-image: url('/images/svg/dist/15.svg');
}

.img16 {
    background-image: url('/images/svg/dist/16.svg');
}

.img17 {
    background-image: url('/images/svg/dist/17.svg');
}

.img18 {
    background-image: url('/images/svg/dist/18.svg');
}

.img19 {
    background-image: url('/images/svg/dist/19.svg');
}

.img20 {
    background-image: url('/images/svg/dist/20.svg');
}

.img21 {
    background-image: url('/images/svg/dist/21.svg');
}

.img22 {
    background-image: url('/images/svg/dist/22.svg');
}

.img23 {
    background-image: url('/images/svg/dist/23.svg');
}

.img24 {
    background-image: url('/images/svg/dist/24.svg');
}

.img25 {
    background-image: url('/images/svg/dist/25.svg');
}

.img26 {
    background-image: url('/images/svg/dist/26.svg');
}

.img27 {
    background-image: url('/images/svg/dist/27.svg');
}

.img28 {
    background-image: url('/images/svg/dist/28.svg');
}

.img29 {
    background-image: url('/images/svg/dist/29.svg');
}

.img30 {
    background-image: url('/images/svg/dist/30.svg');
}

.img31 {
    background-image: url('/images/svg/dist/31.svg');
}

.search-icon {
    background-image: url('/images/svg/magnifier.svg');
    filter: brightness(.3);
}

.personal-icon {
    background-image: url('/images/svg/profile.svg');
}

.basket-icon {
    background-image: url('/images/svg/basket.svg');
}

.location-icon {
    background-image: url('/images/svg/location.svg');
}

.phone-icon {
    background-image: url('/images/svg/phone.svg');
}

.footer-phone-icon {
    background-image: url('/images/svg/phone_footer.svg');
}

.call-icon {
    background-image: url('/images/svg/phone_footer.svg');
}

.phone-main:hover .footer-phone-icon {
    background-image: url('/images/svg/phone_footer_hover.svg');
}

.geo-icon {
    background-image: url('/images/svg/placeholder.svg');
}

.vk-icon {
    background-image: url('/images/svg/vk.svg');
}

.vk-icon:hover {
    background-image: url('/images/svg/vk_hover.svg');
}

.inst-icon {
    background-image: url('/images/svg/inst.svg');
}

.inst-icon:hover {
    background-image: url('/images/svg/inst_hover.svg');
}

.youtube-icon {
    background-image: url('/images/svg/youtube.svg');
}

.youtube-icon:hover {
    background-image: url('/images/svg/youtube_hover.svg');
}

.ok-icon {
    background-image: url('/images/svg/classmates.svg');
}

.ok-icon:hover {
    background-image: url('/images/svg/classmates_hover.svg');
}

.trash-icon {
    background-image: url('/images/svg/trash.svg');
}

.footer-logo {
    background-image: url('/images/svg/logo_footer.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 40px;
}

.inline-icon{
    background-repeat: no-repeat;
    float: left;
    width: 30px;
    height: 20px;
    background-position: center;
}

.call-back {
    border: #ff7300 solid 1px;
    border-radius: 7px;
    padding: 5px 30px;
    margin: auto;
    color: #ff7300;
    cursor: pointer;
}

.control {
    background-color: #262320;
    cursor: pointer;
    background-image: url("/local/templates/dobriy_jar_template/images/svg/arrow.svg");
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 45px;
    height: 35px;
    z-index: 2;
}

.control:hover {
    background-color: #FF7300;
}

.dj_link {
    background-color: #fff;
    color: #FF7300;
    -webkit-appearance: unset;
    border: none;
    cursor: pointer;
}

.catalog-section-text a {
    color: #FF7300;
    text-decoration: underline;
}

*:focus {
    outline: none;
}

.clear {
    clear: both;
    display: block;
}
/*Ð¡Ñ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ð¸Ð½Ñ„Ð¾ÑÑ‚Ñ€Ð°Ð½Ð¸Ñ†*/

.center-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.center-contentw {
    max-width: 1470px;
    margin-left: auto;
    margin-right: auto;
}

.description-point {
    display: block;
    height: 60px;
}

.description-point>*{
    float: left;
    min-height: 60px;
}

.description-point--background{
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180%;
}

.description-point--text{
    position: relative;
    width: calc(100% - 80px);
    font-size: 20px;
    font-weight: bold;
}

.description-point:after {
    content: " ";
    clear: both;
}

.timelapse-segment {
    width: 100%;
    clear: both;
}

.timelapse-segment--title {
    position: relative;
    background-color: #FF7300;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 220px;
    height: 50px;
    float: left;
    z-index: 1;
}

.timelapse-segment:not(:first-child) .timelapse-segment--title{
    box-shadow: 0 -4px 6px 0 #0000004a;
}

.timelapse-segment:nth-child(2n) .timelapse-segment--title{
    background-color: #CCCCCC;
}

.timelapse-segment--title p,
.timelapse-segment--year p,
.timelapse-segment--description p{
    vertical-align: middle;
    margin: 0;
}

.timelapse-segment--title p,
.timelapse-segment--year p{
    padding-top: 10px;
}


.timelapse-segment--year {
    position: relative;
    float: left;
    left: -28px;
    background-color: #EEEEEE;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 28px;
    z-index: 2;
    font-weight: bold;
}

.timelapse-segment--description {
    float: left;
    max-width: 730px;
    padding-top: 10px;
}

.container-404 {
    text-align: center;
}
.container-404 span {
    line-height: 1.5;
    font-size: 1.1em;
}

.container-404__code span {
    font-size: 1.7em;
}

@media (max-width: 1000px) {

    .center-content {
        margin: 0 15px;
    }

    .timelapse-segment--description {
        min-width: 100%;
        padding: 20px 0;
    }

    .timelapse-segment--title {
        padding-left: 28px;
        border-radius: 28px;
    }

    .timelapse {
        margin: 20px 0;
    }

    .container-404 img {
        max-width: 100%;
    }
}

/* TODO: temp*/
.main-profile-social-block {
    display:none;
}

.sale-personal-section-index-block {
    background-color: rgba(255, 115, 0, 0.9) !important;
    width: 50%;
    margin: 10px auto;
}



