.catalog {
	max-width: 1470px;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.catalog-overlay {
	background-color: rgba(255, 255, 255);
	opacity: 0.8;
	background-image: url("/images/load.gif");
	background-size: 180px;
	background-repeat: no-repeat;
	background-position: center 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 500;
}

@media (max-width: 980px) {
	.catalog-control-panel {
		justify-content: left;
		margin-left: 25%;
	}

	.catalog-view-panel {
		display: none;
	}


	#catalog-slider {
		display: none;
	}


}


@media (max-width:980px) {
	.catalog .catalog-products-container {width: 100%; justify-content: center}
}
