.bx-breadcrumb {
    max-width: 1470px;
    margin: 20px auto;
    position: relative;
    padding-left: 4%;}

.bx-breadcrumb-item:not(.bx-breadcrumb-item:nth-last-child(1)) {
    position: relative;
    float: left;
}

.bx-breadcrumb-item:nth-last-child(1) a {
    pointer-events: none;
    font-size: 16px;
    display: inline;
    font-weight: bold;
    margin-left: 1px;
}

.bx-breadcrumb-item h1 {
    font-size: inherit;
    margin: inherit;
    display: inline;
    font-weight: 400;
}

@media (max-width: 980px){
    .bx-breadcrumb {
        max-width: 600px;
        margin: 20px;
        position: relative;
    }
}
