.show-svg {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 175%;
    background-position: center;
}

.img1 {
    background-image: url('../images/svg/dist/1.svg');
}

.img2 {
    background-image: url('../images/svg/dist/2.svg');
}

.img3 {
    background-image: url('../images/svg/dist/3.svg');
}

.img4 {
    background-image: url('../images/svg/dist/4.svg');
}

.img5 {
    background-image: url('../images/svg/dist/5.svg');
}

.img6 {
    background-image: url('../images/svg/dist/6.svg');
}

.img7 {
    background-image: url('../images/svg/dist/7.svg');
}

.img8 {
    background-image: url('../images/svg/dist/8.svg');
}

.img9 {
    background-image: url('../images/svg/dist/9.svg');
}

.img10 {
    background-image: url('../images/svg/dist/10.svg');
}

.img11 {
    background-image: url('../images/svg/dist/11.svg');
}

.img12 {
    background-image: url('../images/svg/dist/12.svg');
}

.img13 {
    background-image: url('../images/svg/dist/13.svg');
}

.img14 {
    background-image: url('../images/svg/dist/14.svg');
}

.img15 {
    background-image: url('../images/svg/dist/15.svg');
}

.img16 {
    background-image: url('../images/svg/dist/16.svg');
}

.img17 {
    background-image: url('../images/svg/dist/17.svg');
}

.img18 {
    background-image: url('../images/svg/dist/18.svg');
}

.img19 {
    background-image: url('../images/svg/dist/19.svg');
}

.img20 {
    background-image: url('../images/svg/dist/20.svg');
}

.img21 {
    background-image: url('../images/svg/dist/21.svg');
}

.img22 {
    background-image: url('../images/svg/dist/22.svg');
}

.img23 {
    background-image: url('../images/svg/dist/23.svg');
}

.img24 {
    background-image: url('../images/svg/dist/24.svg');
}

.img25 {
    background-image: url('../images/svg/dist/25.svg');
}

.img26 {
    background-image: url('../images/svg/dist/26.svg');
}

.img27 {
    background-image: url('../images/svg/dist/27.svg');
}

.img28 {
    background-image: url('../images/svg/dist/28.svg');
}

.img29 {
    background-image: url('../images/svg/dist/29.svg');
}

.img30 {
    background-image: url('../images/svg/dist/30.svg');
}

.img31 {
    background-image: url('../images/svg/dist/31.svg');
}

.search-icon {
    background-image: url('../images/svg/magnifier.svg');
}

.personal-icon {
    background-image: url('../images/svg/profile.svg');
}

.basket-icon {
    background-image: url('../images/svg/basket.svg');
}

.location-icon {
    background-image: url('../images/svg/location.svg');
}

.phone-icon {
    background-image: url('../images/svg/phone.svg');
}

.footer-phone-icon {
    background-image: url('../images/svg/phone_footer.svg');
}

.call-icon {
    background-image: url('../images/svg/phone_footer.svg');
}

.phone-main:hover .footer-phone-icon {
    background-image: url('../images/svg/phone_footer_hover.svg');
}

.geo-icon {
    background-image: url('../images/svg/placeholder.svg');
}

.vk-icon {
    background-image: url('../images/svg/vk.svg');
}

.vk-icon:hover {
    background-image: url('../images/svg/vk_hover.svg');
}

.inst-icon {
    background-image: url('../images/svg/inst.svg');
}

.inst-icon:hover {
    background-image: url('../images/svg/inst_hover.svg');
}

.youtube-icon {
    background-image: url('../images/svg/youtube.svg');
}

.youtube-icon:hover {
    background-image: url('../images/svg/youtube_hover.svg');
}

.ok-icon {
    background-image: url('../images/svg/classmates.svg');
}

.ok-icon:hover {
    background-image: url('../images/svg/classmates_hover.svg');
}

.trash-icon {
    background-image: url('../images/svg/trash.svg');
}

.footer-logo {
    background-image: url('../images/svg/logo_footer.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 40px;
}

.inline-icon{
    background-repeat: no-repeat;
    float: left;
    width: 30px;
    height: 20px;
    background-position: center;
}

.call-back {
    border: #ff7300 solid 1px;
    border-radius: 7px;
    padding: 5px 30px;
    margin: auto;
    color: #ff7300;
    cursor: pointer;
}

.control {
    background-color: #262320;
    cursor: pointer;
    background-image: url("/local/templates/dobriy_jar_template/images/svg/arrow.svg");
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 45px;
    height: 35px;
    z-index: 2;
}

.control:hover {
    background-color: #FF7300;
}

.dj_link {
    background-color: #fff;
    color: #FF7300;
    -webkit-appearance: unset;
    border: none;
    cursor: pointer;
}

*:focus {
    outline: none;
}

.clear {
    clear: both;
    display: block;
}
/*Стили для инфостраниц*/

.center-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.center-contentw {
    max-width: 1470px;
    margin-left: auto;
    margin-right: auto;
}

.description-point {
    display: block;
    height: 60px;
}

.description-point>*{
    float: left;
    min-height: 60px;
}

.description-point--background{
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180%;
}

.description-point--text{
    position: relative;
    width: calc(100% - 80px);
    font-size: 20px;
    font-weight: bold;
}

.description-point:after {
    content: " ";
    clear: both;
}

.timelapse-segment {
    width: 100%;
    clear: both;
}

.timelapse-segment--title {
    position: relative;
    background-color: #FF7300;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 220px;
    height: 50px;
    float: left;
    z-index: 1;
}

.timelapse-segment:not(:first-child) .timelapse-segment--title{
    box-shadow: 0 -4px 6px 0 #0000004a;
}

.timelapse-segment:nth-child(2n) .timelapse-segment--title{
    background-color: #CCCCCC;
}

.timelapse-segment--title p,
.timelapse-segment--year p,
.timelapse-segment--description p{
    vertical-align: middle;
    margin: 0;
}

.timelapse-segment--title p,
.timelapse-segment--year p{
    padding-top: 10px;
}


.timelapse-segment--year {
    position: relative;
    float: left;
    left: -28px;
    background-color: #EEEEEE;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 28px;
    z-index: 2;
    font-weight: bold;
}

.timelapse-segment--description {
    float: left;
    max-width: 730px;
    padding-top: 10px;
}

.container-404 {
   text-align: center;
}
.container-404 span {
   line-height: 1.5;
   font-size: 1.1em;
}

.container-404__code span {
   font-size: 1.7em;
}

@media (max-width: 1000px) {

    .center-content {
        margin: 0 15px;
    }

    .timelapse-segment--description {
        min-width: 100%;
        padding: 20px 0;
    }

    .timelapse-segment--title {
        padding-left: 28px;
        border-radius: 28px;
    }

    .timelapse {
        margin: 20px 0;
    }
    
    .container-404 img {
       max-width: 100%;
}
}

/* TODO: temp*/
.main-profile-social-block {
    display:none;
}

.sale-personal-section-index-block {
    background-color: rgba(255, 115, 0, 0.9) !important;
    width: 50%;
    margin: 10px auto;
}
